*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
ul,
ol {
  list-style: none;
}
a {
  text-decoration: none;
}
ul,
ol,
h1,
h2,
h3,
h4,
h5,
h6,
p,
body {
  margin: 0;
  padding: 0;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
}
button{
    cursor: pointer;
}
.container{
    width: 1135px;
    margin: 0 auto;
}
header{
    background-color: #03a9f4;
    height: 100px;
    display: flex;
    align-items: center;
}
.header-arrow{
    width: 10px;
}
.header-btn, .how-it-works-btn{
    color: white;
    font-size: 16px;
}
.sign-in{
    width: 100px;
    height: 40px;
     color: white;
    font-size: 16px;
    background-color: #0287c3;
    border: none;
    border-radius: 5px;
}
 .order{
   width: 100px;
    height: 40px;
     color: white;
    font-size: 16px;
    background-color: #f75e2e;
    border: none;
    border-radius: 5px;
 }
 .burger-button{
    display: flex;
    border: none;
    flex-direction: column;
    gap: 2px;
    background: none;
 }
 .burger-line{
    width: 20px;
    height: 2px;
    background-color: white;
    border-radius: 5px;
 }
 .header-div{
    display: flex;
    justify-content: space-between;
 }
 .links{
    display: flex;
    align-items: center;
    gap: 25px;
 }
.blue-essay-section{
    background-color: #e6f7fe;
    background-image: url(./img/img-cloud.png);
    background-repeat: no-repeat;
    background-position: bottom;
    height: 630px;
    display: flex;
    /* flex-direction: column; */
    align-items: center;
}
.blue-essay-title{
    font-size: 47px;
    text-align: start;
}
.blue-essay-span{
    color: #03a9f4;
}
.blue-essay-line{
    width: 545px;
    height: 1px;
    background-color: #b0bcc2;
    margin-top: 30px;
}
.blue-essay-paragraph{
    color: #656a70;
    font-size: 30px;
    width: 522px;
    padding-top: 40px;
}
.blue-essay-btn{
    background-color: #f75e2e;
    width: 220px;
    height: 50px;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 16px;
    margin-top: 30px;
}
.blue-essay-div{
    display: flex;
    justify-content: space-between;
}
.paper-list{
    width: 1200px;
    height: 135px;
    display: flex;
    align-items: center;
    background-color: #03a9f4;
    position: absolute;
    justify-content: space-around;
    bottom: 151px;
    left: 240px;
}
.paper-title{
    color: white;
    font-size: 14px;
}
.paper-select{
    width: 200px;
    height: 50px;
    border: none;
    outline: none;
    border-radius: 5px;
    color: #656a70;
}
.num-input{
    width: 100px;
     height: 50px;
       border: none;
    outline: none;
}
.num{
    width: 50px;
    height: 50px;
    margin-left: -6px;
    background-color: white;
    border: none;
    outline: 1px solid #b0bcc2;
    border-radius: 5px;
}
.num:nth-child(1){
    margin-left: 0;
   margin-right: -6px;
}
.continue-btn{
        width: 200px;
    height: 50px;
    border: none;
    background-color: #0287c3;
    color: white;
    border-radius: 5px;
    margin-top: 15px;
}
.welcome-div{
    display: flex;
    align-items: center;
    padding-top: 90px;
    justify-content: space-between;
}
.welcome-text{
    display: flex;
    flex-direction: column;
    gap: 45px;
}
.welcome-title{
    font-size: 15px;
    color: #0287c3;
}
.writing-service-title{
    font-size: 35px;
    font-weight: 400;
    width: 530px;
}
.welcome-p{
    font-size: 16px;
    font-weight: 400;
    color: #656a70;
    width: 555px;
}
.advantages-section{
    background-color: #03a9f4;
   margin-top: 90px;
}
.our-advantages-title{
    font-size: 15px;
    color: white;
        font-weight: 400;
        text-align: center;
        padding-top: 57px;
}
.advantages-title{
    font-size: 33px;
       color: white;
        font-weight: 400;
        text-align: center;
        padding-top: 30px;
}
.advantages-list{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 60px;
}
.advantages-item{
    width: 350px;
    height: 315px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.advantages-list-title{
    width: 200px;
   font-size: 17px;
   font-weight: 700;
   text-align: center;
   padding-top: 25px;
}
.advantages-list-p{
    width: 250px;
    font-size: 14px;
    color: #51555a;
    text-align: center;
    padding-top: 20px;
}
.advantages-btn{
    width: 280px;
    height: 50px;
    background-color: #0287c3;
    color: white;
    border: none;
    outline: none;
    border-radius: 5px;
    margin-top: 55px;
    margin-left: 430px;
    margin-bottom: 90px;
}

.how-it-works-title{
    font-size: 15px;
    color: #0287c3;
        font-weight: 400;
        text-align: center;
        padding-top: 85px;
}
.our-step-title{
        font-size: 33px;
          color: black;
        font-weight: 400;
        text-align: center;
        padding-top: 30px;
        padding-bottom: 55px;
}
.four-step-list, .four-step-item{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.four-step-line{
 height: 180px;
 width: 1px;
 background-color: #03a9f4;
 margin-right: 50px;
}
.four-step-text{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.four-step-title{
    font-size: 17px;
    color: #323538;
    font-weight: 600;
    padding-top: 30px;
}
.four-step-paragraph{
    font-size: 13px;
    color: #51555a;
    width: 185px;
   text-align: center;
    padding-top: 20px;
}
.discount{
    background-color: #03a9f4;
    background-image: url(./img/04-bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 557px;
    margin-top: 100px;
}
.discount-paragraph{
    font-size: 20px;
    color: white;
    width: 640px;
    text-align: center;
    margin: 0 auto;
    padding-top: 30px;
}
.discount-n-sales{
    display: flex;
    padding-top: 85px;
    margin-left: 100px;
}
.sales-list{
    width: 555px;
    height:485px;
    background-color: white;
    display: flex;
    flex-wrap: wrap;
}
.sales-item{
    width: 270px;
    height: 240px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.sales-title{
    font-size: 35px;
    color: #f75e2e;
    text-align: center;
    font-weight: 600;
}
.sales-p{
    color: #51555a;
    font-size: 14px;
    text-align: center;
}
.sales-span{
     color: #0287c3;
    font-size: 17px;

}
.discount-div{
     height:485px;
     width: 390px;
     background-color: #03a9f4;
     display: flex;
     align-items: center;
     justify-content: center;
}
.stroke{
    height: 445px;
    width: 340px;
    outline: 3px dashed #0287c3;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.get-discount-title{
    padding-top: 30px;
    width: 230px;
    color: white;
    font-size: 25px;
   text-align: center;
   margin: 0 auto;
}
.discount-sale-div{
    margin-top: 40px;
    width: 277px;
    height: 210px;
    background-color: #0287c3;
      outline: 3px dashed #ffffff;
      border-radius: 15px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
}
.discount-sale-get-title{
    font-size: 24px;
    color: white;
    margin-right: 105px;
}
.discount-sale-title{
    font-size: 60px;
    font-weight: 600;
    line-height: 0.8;
    color: #e2f55d;
}
.discount-sale-p{
    color: white;
    padding-top: 10px;
}
.stroke-p{
    color: white;
    font-size: 18px;
    font-style: italic;
    padding-top: 55px;
}
.scissors-img{
    position: absolute;
    top: 2852px;
    left: 930px;
}
.stars{
    position: absolute;
      top: 2850px;
      left: 1210px;
}
.balloon{
    position: absolute;
          top:3154px;
      left: 1240px;
}
.testimonials-div{
    padding-top: 200px;
}
.arrows-div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}
.feedback-div{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.feedback-p{
    font-size: 14px;
    color: #51555a;
    width: 590px;
    text-align: center;
    padding-top: 30px;
}
.feedback-name{
    font-size: 17px;
    color: #0287c3;
    font-weight: 600;
    padding-top: 30px;
}
.feedback-date{
    font-size: 13px;
    color: #a3a6a9;
    padding-top: 15px;
}
.feedback-arrow{
 height: 70px;
}
footer{
    background-color: #03a9f4;
    margin-top: 70px;
}
.footer-menu{
    display: flex;
    align-items: center;
    justify-content: space-between;
     padding-top: 15px;
}
.footer-menu-list{
    display: flex;
    gap: 15px;
}
.footer-menu-link{
    color: white;
    font-size: 12px;
}
.footer-line{
    width: 100%;
    height: 1px;
    background-color: white;
    margin-top: 35px;
}
.section-list{
    display: flex;
    justify-content: space-between;
}
.section-title{
    font-size: 16px;
    font-weight: 600;
    color: white;
    padding-top: 55px;
}
.section-parapraph{
    font-size: 13px;
    color: white;
    width: 180px;
    padding-top: 30px
}
.social-media-list{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 50px;
    padding-bottom: 50px;
}
.social-media-item{
    display: flex;
    align-items: center;
    gap: 15px;
}
.social-media-p{
    font-size: 13px;
    color: white;
}
.footer-email, .phone-num{
 font-size: 13px;
 color: white;
}
.phone-span{
    font-weight: 600;
}